In [98]:
import pandas as pd
import numpy as np
from itertools import combinations

In [106]:
%run ./initialize.ipynb

Imported function `get_value_data(files, columns)` -> dataframe of values
Imported function `get_value_data(files, columns)` -> dataframe of returns
Imported function `initialize_data()` -> tuple of value and returns data
Imported class `Arbitrage(data : pd.DataFrame)` with methods `show_plot()`, `get_test_results()`

In [107]:
data = initialize_data()
return_init_df = data.get_standard_return()

In [108]:
return_init_df.dtypes

us_agg        float64
jpy           float64
global_agg    float64
gb            float64
em_agg        float64
ger           float64
euro_agg      float64
us            float64
dtype: object

In [109]:
return_init_df.describe()

,us_agg,jpy,global_agg,gb,em_agg,ger,euro_agg,us
count,5515.000000,5.850000e+03,5949.000000,5975.000000,5515.000000,5995.000000,5704.000000,5995.000000
mean,0.000151,-8.153846e-07,0.000122,-0.000002,0.000261,-0.000004,0.000121,-0.000002
std,0.002596,2.333556e-04,0.003382,0.000515,0.003477,0.000442,0.002459,0.000590
min,-0.020654,-1.710000e-03,-0.021761,-0.004964,-0.036393,-0.002900,-0.017156,-0.004736
25%,-0.001280,-1.000000e-04,-0.001766,-0.000290,-0.000978,-0.000250,-0.001157,-0.000343
50%,0.000246,0.000000e+00,0.000130,0.000000,0.000376,-0.000010,0.000166,0.000000
75%,0.001632,1.000000e-04,0.002005,0.000276,0.001684,0.000230,0.001469,0.000341
max,0.019760,2.240000e-03,0.028569,0.004160,0.030677,0.002290,0.017870,0.003602

In [110]:
return_init_df.shape

(6000, 8)

In [111]:
print(f'total nan remaining: {return_init_df.isna().sum().sum()}')
print(return_init_df.isna().sum())

total nan remaining: 1502
us_agg        485
jpy           150
global_agg     51
gb             25
em_agg        485
ger             5
euro_agg      296
us              5
dtype: int64

In [112]:
np.where(return_init_df.us_agg.isna())[0][:20]

array([  0,   1,  13,  14,  35,  36,  40,  41,  50,  51,  75,  76, 114,
       115, 145, 146, 172, 173, 215, 216])

In [113]:
return_data = data.get_true_return().dropna()
return_data.head()

,us_agg,jpy,global_agg,gb,em_agg,ger,euro_agg,us
Date,,,,,,,,
2000-11-08,0.000624,-0.00005,-0.002368,0.000037,-0.005770,0.00010,-0.000192,-0.00011
2000-11-09,0.001960,-0.00010,0.002085,-0.000163,0.000349,-0.00021,0.000474,-0.00030
2000-11-10,0.000122,0.00004,0.000937,-0.000228,0.005363,-0.00009,0.000713,-0.00042
2000-11-13,0.002067,-0.00028,0.001797,-0.000358,0.003666,-0.00034,0.003032,-0.00017
2000-11-14,0.000787,0.00006,-0.001735,0.000177,0.002980,0.00002,-0.000744,-0.00011

In [117]:
def equity_curve(asset):
    if max(asset) > 0.5:
        asset = to_stationary(asset).dropna()
    
    plot_values = (asset + 1).cumprod()
    plot_values.plot()